* {
  padding: 0 0;
  margin: 0 0;
}
.App {
  text-align: center;
}
#displayed-ticket {
  color: rgb(17, 12, 11);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(245, 255, 248, 0.856);
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  text-align: center;
  z-index: 1;
  // margin-top: 2rem;
}
.label {
  margin: 0 0.6rem;
  padding: 0.4em;
  border: none;
  color: white;
}

.tickets-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  align-items: flex-start;
  // padding: 8rem;
  min-width: 90%;
}

.ticket {
  h1 {
    color: #011f4b;
    font-size: 1.6rem;
  }
  p {
    margin: 2rem 0;
    font-weight: 2rem;
    color: #011f4b;
  }
  width: 30rem;
  height: 15rem;
  margin: 1em auto;
  // margin: 2rem auto;
  background-color: #63ace5;

  border-radius: 3%;

  padding: 1em;
  position: relative;
}
#nav-buttons {
  display: block;
  button {
    margin: 2rem;
  }
}

#restoreHideTickets {
  margin: 1rem;
}

.header {
  h1 {
    margin-bottom: 3rem;
  }
  padding-top: 4rem;
  input {
    width: 26rem;
    height: 3rem;
  }
}
#restoreHideTickets {
  font-size: larger;
  font-weight: bolder;
  color: rgb(62, 62, 182);
  background-color: rgb(255, 255, 255);
  border: none;
}

.display-ticket-container {
  * {
    //max-width: 100rem;
    padding: 1rem;
  }
  button {
    margin-top: 15rem;
  }
  .details {
    font-weight: bold;
    color: #011f4b;
  }
  .ticket-content {
    font-weight: 2rem;
    color: #011f4b;
    max-width: 90rem;
    margin: 0, 2rem;
  }
  order: 0;
  flex: 0 1 auto;
  align-self: center;

  width: fit-content;
  height: fit-content;
  margin: 1em auto;
  margin: 2rem auto; //////////
  background-color: #63ace5;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2%;
  position: relative;

  // padding: 5rem;
  margin-top: 2rem;
  h1 {
    color: #011f4b;
    font-size: 1.6rem;
  }
}
.hideTicketButton {
  right: 1rem;
  bottom: 1rem;
}
.Corvid {
  background-color: #f6cd61;
}
.Guidelines {
  background-color: #fe8a71;
}
.Api {
  background-color: #ee4035;
}
.Collapse {
  background-color: #251e3e;
}
.Expand {
  background-color: #0057e7;
}
.Login {
  background-color: #ee4035;
}
.Problem {
  background-color: #adcbe3;
}
.Tutorial {
  background-color: #7bc043;
}
.View.Count {
  background-color: #651e3e;
}
