* {
  padding: 0 0;
  margin: 0 0;
}

.App {
  text-align: center;
}

#displayed-ticket {
  color: #110c0b;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(245, 255, 248, 0.856);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  z-index: 1;
}

.label {
  margin: 0 0.6rem;
  padding: 0.4em;
  border: none;
  color: white;
}

.tickets-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 90%;
}

.ticket {
  width: 30rem;
  height: 15rem;
  margin: 1em auto;
  background-color: #63ace5;
  border-radius: 3%;
  padding: 1em;
  position: relative;
}

.ticket h1 {
  color: #011f4b;
  font-size: 1.6rem;
}

.ticket p {
  margin: 2rem 0;
  font-weight: 2rem;
  color: #011f4b;
}

#nav-buttons {
  display: block;
}

#nav-buttons button {
  margin: 2rem;
}

#restoreHideTickets {
  margin: 1rem;
}

.header {
  padding-top: 4rem;
}

.header h1 {
  margin-bottom: 3rem;
}

.header input {
  width: 26rem;
  height: 3rem;
}

#restoreHideTickets {
  font-size: larger;
  font-weight: bolder;
  color: #3e3eb6;
  background-color: white;
  border: none;
}

.display-ticket-container {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1em auto;
  margin: 2rem auto;
  background-color: #63ace5;
  border-radius: 2%;
  position: relative;
  margin-top: 2rem;
}

.display-ticket-container * {
  padding: 1rem;
}

.display-ticket-container button {
  margin-top: 15rem;
}

.display-ticket-container .details {
  font-weight: bold;
  color: #011f4b;
}

.display-ticket-container .ticket-content {
  font-weight: 2rem;
  color: #011f4b;
  max-width: 90rem;
  margin: 0, 2rem;
}

.display-ticket-container h1 {
  color: #011f4b;
  font-size: 1.6rem;
}

.hideTicketButton {
  right: 1rem;
  bottom: 1rem;
}

.Corvid {
  background-color: #f6cd61;
}

.Guidelines {
  background-color: #fe8a71;
}

.Api {
  background-color: #ee4035;
}

.Collapse {
  background-color: #251e3e;
}

.Expand {
  background-color: #0057e7;
}

.Login {
  background-color: #ee4035;
}

.Problem {
  background-color: #adcbe3;
}

.Tutorial {
  background-color: #7bc043;
}

.View.Count {
  background-color: #651e3e;
}
/*# sourceMappingURL=App.css.map */